body {
  font-family: "Lato", sans-serif;  
  font-weight: 300;
}

.button-default {
  color: white;
  background-color: #347736;
  text-align: center;
  /*text-transform: uppercase;*/
  padding: 15px 20px;
  margin: 15px;
  display: inline-block;
  font-size:30px;
}

.button-slanted {
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.button-slanted-content {
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);  
  display: inline-block;
}
